/* Predefined styles for the LoginView */

.jmix-login-main-layout {
  background-color: var(--lumo-shade-5pct);
  background-image: url("background-login-form.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

#vaadinLoginFormWrapper{
  border-radius: 20px;
  background: linear-gradient(to bottom right, #E3F2FD, #FFFFFF);

}