<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.grc/menu.application.title" opened="true">
<!--        <item view="Domain_.list" title="msg://com.company.grc.view.domain/domainListView.title"/>-->
<!--        <item view="Indicator_.list" title="msg://com.company.grc.view.indicator/indicatorListView.title"/>-->
<!--        <item id="a" view="Reporting.list" title="Overview"/>-->
        <item view="Reporting.list" title="Reporting"/>
        <item id="b" view="Reporting.list" title="Regulatory"/>
        <item id="c" view="Reporting.list" title="Audit"/>
        <item id="d" view="Reporting.list" title="Risk"/>
<!--        <item view="Audit_.list" title="msg://com.company.grc.view.auditrecommendation/auditRecommendationListView.title"/>-->
    </menu>
    <menu id="application-masterdata" title="Master Data" icon="ARCHIVE">
        <item view="Organization.list" title="msg://com.company.grc.view.organization/organizationListView.title"/>
        <item view="User.list" title="msg://com.company.grc.view.user/UserListView.title"/>

    </menu>

</menu-config>